<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">   
<head>   
<title>个人微博客</title>   
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
<meta http-equiv="Content-Language" content="zh-CN" />   
<meta name="author" content="Ggzzhh" />   
<meta name="description" content="学习日志" />   
<meta name="keywords" content="python html css javascript ajax java java ee"/>  
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />  
<meta name="viewport" content="width=device-width" />     
</head>  
<body>
  <p padding="center">
    <a href="{% url 'blogs:index' %}">博客首页</a>
  </p>
  {% block content %}
    
  {% endblock content %}
</body>  
</html>  