{% extends "blogs/base.html" %}
{% load bootstrap3 %}

{% block header%}
<div class="jumbotron" >
    <h1>编辑博客</h1>
</div>
{% endblock header%}

{% block content %}

    <form action="{% url 'blogs:edit_blog' blog.id %}" method="post" class="form">
      {% csrf_token %}

        <h3>标题</h3>
        {% bootstrap_field form.title %}
        <h3>内容</h3>
        {% bootstrap_field form.text %}

      {% buttons %}
       <button name="submit" class="btn btn-primary">提交</button>
      {% endbuttons %}
    </form>
{% endblock content %}