{% extends "learning_logs/base.html" %}

{% block hearder %}
   <h2> 主题: {{ topic }} </h2>
{% endblock hearder %}

{% block content %}
    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">添加一个新条目</a>
    </p>
    {% for entry in entries %}
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3>
                {{ entry.date_added|date:'M d, Y H:i' }}
                <small>
                    <div class="text-right">
                        <a href="{% url 'learning_logs:edit_entry' entry.id %}">
                        编辑
                        </a>
                    </div>
                </small>
            </h3>
            </div>
            <div class="panel-body">
                {{ entry.text|linebreaks }}
            </div>
        </div><!-- panel -->
    {% empty %}
        <h2>现在这个主题没有条目</h2>
    {% endfor %}
    
{% endblock content %}
